APP_ENV=production
APP_DEBUG=false
APP_URL=https://facturador.pccurico.cl
DB_HOST=localhost
# DB_PORT=3306
# DB_SOCKET=/var/run/mysqld/mysqld.sock
DB_NAME=your_database
DB_USER=your_user
DB_PASS=changeme
# DB_CHARSET=utf8mb4
